.header {
    background: $color-primary-principaltheme;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    img{
        margin: 15px 0;
    }
}