.principal_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 120px 0 20px 0;
    .container .menu_title{
        text-align: center;
    }
    .lien_menu{
        text-decoration: none;
    }
    @include tablette-only{
        margin-bottom: 0;
    }
}