html {
  font-size: 16px; }

.prochainement {
  display: flex;
  justify-content: center; }
  .prochainement .prochainement_btn {
    display: flex;
    color: #fcca46;
    font-size: 1.25rem;
    background-color: #569c87;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;
    font-family: 'Spartan'; }
    .prochainement .prochainement_btn .three_point {
      display: flex;
      margin-left: 5px; }
      .prochainement .prochainement_btn .three_point .little_point {
        position: relative;
        top: 7px;
        margin-left: 5px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fcca46; }
      .prochainement .prochainement_btn .three_point .first {
        animation: bounce_first 0.9s infinite; }
      .prochainement .prochainement_btn .three_point .second {
        animation: bounce_second 0.9s infinite; }
      .prochainement .prochainement_btn .three_point .third {
        animation: bounce_third 0.9s infinite; }

.footer_btn {
  color: #fcca46;
  text-decoration: none;
  font-family: 'Spartan';
  padding: 20px; }
  .footer_btn:hover {
    animation: wiggle 1.5s infinite; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  3% {
    transform: rotate(-4deg); }
  4% {
    transform: rotate(6deg); }
  5% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes bounce_first {
  25% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }
@keyframes bounce_second {
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }
@keyframes bounce_third {
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }
.card_menu {
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px -4px rgba(180, 178, 178, 0.75); }
  .card_menu .title {
    font-size: 1.5rem;
    opacity: 0.75;
    transition: 1s; }
  .card_menu .subtitle {
    text-transform: uppercase;
    font-size: 1.5rem; }
  .card_menu:hover {
    box-shadow: 0px 0px 18px -4px rgba(210, 210, 210, 0.75); }
    .card_menu:hover .title {
      font-size: 1.9rem;
      opacity: 1; }

.lien_menu {
  text-decoration: none; }

.details_menu {
  width: 500px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 18px -4px rgba(180, 178, 178, 0.75); }
  .details_menu .details_menu_header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px; }
    .details_menu .details_menu_header .title {
      font-size: 2rem; }
  .details_menu .part_title {
    text-align: center; }
  .details_menu .dish_price {
    display: flex;
    width: 100%;
    flex-direction: column; }
    .details_menu .dish_price .dish_details {
      display: flex;
      justify-content: space-between;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 10px 20px 10px 20px; }
      .details_menu .dish_price .dish_details li {
        list-style-type: none; }

.pink_theme {
  background: #fcdfda; }
  .pink_theme .title {
    color: #000;
    font-family: 'Zhi Mang Xing'; }
  .pink_theme .subtitle {
    color: #000; }
  .pink_theme .fa-music {
    font-size: 2.5rem;
    background: linear-gradient(to right, #f15861, #f6a183);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .pink_theme .details_menu_footer {
    display: flex;
    justify-content: center; }
    .pink_theme .details_menu_footer .fa-music {
      margin-right: 20px; }

.orablue_theme {
  background: #fef5fd; }
  .orablue_theme .title {
    background: linear-gradient(to right, #dc8527, #8f5aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Redressed'; }
  .orablue_theme .subtitle {
    color: #c77412; }
  .orablue_theme .starter {
    color: #c67412; }
  .orablue_theme .dish {
    color: #a56799; }
  .orablue_theme .dessert {
    color: #6e4ccc; }

.green_theme {
  background: #fdfffd; }
  .green_theme .title {
    background: linear-gradient(to right, #4ea043, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script'; }
  .green_theme .subtitle {
    color: #72bf56; }

.blue_theme {
  background: colour-back-blue; }
  .blue_theme .title {
    background: linear-gradient(to right, #0235e1, #0889fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script'; }
  .blue_theme .subtitle {
    color: #0889fb; }

.header {
  background: #569c87;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0; }
  .header img {
    margin: 15px 0; }

.footer {
  background: #569c87;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0; }

.principal_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 120px 0 75px 0; }

/*# sourceMappingURL=style.css.map */
