header {
    background-color: #569c87;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.agency-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* home-body */

.principal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.base-disposition {
    width: 500px;
    height: 750px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18px -4px rgba(180, 178, 178, 0.75);
}

.base-disposition:hover {
    box-shadow: 0px 0px 18px -4px rgba(210, 210, 210, 0.75);
}

/* dispo-menu */

.disposition-thumbnail {
    width: 250px;
    height: 375px;
    display: flex;
    justify-content: center;
}

.size-title {
    font-size: 30px;
    margin: 85px 0px 45px 0px;
}


.lien-menu {
    text-decoration: none;
}

.disposition-part {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
}

.part-title {
    text-align: center;
}

.dish-price {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.dish-details {
    display: flex;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 10px;
    justify-content: space-between;
}

.dish-details li {
    list-style-type: none;
    font-size: 14px;
    font-family: 'PT Serif', serif;
}

.pink-theme {
    background-color: #fcdfda
}

.pink-theme-title {
    color: #000000;
    font-family: 'Zhi Mang Xing';
    font-weight: 500;
}

.pink-theme-subtitle {
    color: #000000;
    text-transform: uppercase;
    font-size: 24px;
}

.orablue-theme {
    background-color: #fef5fd;
}

.orablue-theme-title {
    background: linear-gradient(to right,rgb(220,133,39),rgb(143,90,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Redressed';
    font-weight: 500;
    letter-spacing: 1px;
}

.orablue-theme-subtitle {
    color:rgb(199,116,18);
    font-size: 24px;
}

.orablue-starter {
    color: rgb(198,116,18)
}

.orablue-dish {
    color: rgb(165,103,153);
}

.orablue-dessert {
    color: rgb(110,76,204);
}

.blue-theme {
    background-color: #f9f9f9;
}

.blue-theme-title {
    background: linear-gradient(to right,rgb(2,53,225),rgb(8,137,251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script';
    padding: 0 2px 0 2px;
    font-weight: 500; 
}

.blue-theme-subtitle {
    color:rgb(8,137,251);
    font-size: 24px;
}

.blue-title {
    font-size: 45px;
}

.green-theme {
    background-color: #fdfffd
}

.green-theme-title {
    background: linear-gradient(to right,rgb(78,160,67),rgb(190,255,127));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script';
    font-weight: 500;
}

.green-theme-subtitle {
    color:rgb(114,191,86);
    font-size: 24px;
}

.principal-body-footer {
    display: flex;
    justify-content: center;
    height: 140px;
}

.prochainement-button {
    display: flex;
    justify-content: center;
    color: #fcca46;
    background-color: #569c87;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    line-height: 50px;
    width: 220px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Spartan';
}

.three-point {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    position: relative;
}

.little-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 3px;
    background-color: #fcca46;
    position: relative;
    top: 14px;
    animation: bounce 0.9s infinite;
}

.first {
    animation: bounce-first 0.9s infinite;
}

.second {
    animation: bounce-second 0.9s infinite;
}

.third {
    animation: bounce-third 0.9s infinite;
}

@keyframes wiggle{
    0%{transform: rotate(0deg)}
    3%{transform: rotate(-4deg)}
    4%{transform: rotate(6deg)}
    5%{transform: rotate(-0deg)}
    100%{transform: rotate(0deg)}
}

@keyframes bounce-first{
    25%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes bounce-second{
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes bounce-third{
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* footer */

footer {
    background-color: #569c87;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.legacy-mention {
    color: #fcca46;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Spartan';
}

.legacy-mention:hover {
    animation: wiggle 1.5s infinite;
}



.contact-us {
    color: #fcca46;
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Spartan';
}

.contact-us:hover {
    animation: wiggle 1.5s infinite;
}




/* --- Responsive Design  --- */


@media (max-width: 450px) {
    .base-disposition {
        height: 920px;
        margin-bottom: 80px;
    }

    .disposition-thumbnail {
        height: 375px;
        margin-bottom: 10px;
    }

    .dish-details {
        display: block;
        text-align: center;
    }
    
    .blue-title {
        font-size: 30px;
    }

    .prochainement-button {
        background-color: #569c87;
        font-size: 16px;
    }
    
    .legacy-mention {
        font-size: 14px;
        margin-left: 7px;  
    }

    .contact-us {
        font-size: 14px;
        margin-right: 7px;  
    }
}