header {
    background-color: #569c87;
    display: flex;
    justify-content: center;
}

.agency-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* home-body */

.home-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.poster-menu {
    width: 250px;
    height: 375px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px -4px rgba(180, 178, 178, 0.75);
}

.lien-menu {
    text-decoration: none;
}

.menu-part {
    display: flex;
    flex-direction: column;
}

.part-title {
    display: flex;
    justify-content: center;
}

.plate-price {
    display: flex;
    justify-content: space-between;
    width: 460px;
}

.plate-price ul {
    padding-inline-start: 0;
}

.plate-price li {
    list-style-type: none;
}

.plate li {
    text-align: left;
}

.price li {
    text-align: right;
}


.note-menu {
    background-color: #fcdfda
}

.note-menu-title {
    color: #000000;
    font-family: 'Zhi Mang Xing';
    font-weight: 500;
}

.note-menu-subtitle {
    color: #000000;
    text-transform: uppercase;
    font-size: 24px;
}

.chic-menu {
    background-color: #fef5fd;
}

.chic-menu-title {
    background: linear-gradient(to right,rgb(220,133,39),rgb(143,90,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Redressed';
    font-weight: 500;
    letter-spacing: 1px;
}

.chic-menu-subtitle {
    color:rgb(199,116,18);
    font-size: 24px;
}


.papille-menu {
    background-color: #f9f9f9
}

.papille-menu-title {
    background: linear-gradient(to right,rgb(2,53,225),rgb(8,137,251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script';
    padding: 0 2px 0 2px;
    font-weight: 500;
    
}

.papille-menu-subtitle {
    color:rgb(8,137,251);
    font-size: 24px;
}

.palette-menu {
    background-color: #fdfffd
}

.palette-menu-title {
    background: linear-gradient(to right,rgb(78,160,67),rgb(190,255,127));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script';
    font-weight: 500;
}

.palette-menu-subtitle {
    color:rgb(114,191,86);
    font-size: 24px;
}

.home-body-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.prochainement {
    background-color:#569c87;
    border-radius: 10px;
    border: 0 solid #ffffff;
    cursor: pointer;
}

.prochainement-content {
    padding: 0 50px 0 50px;
    font-size: 20px;
    color: #fcca46;
    font-family: 'Spartan';
}

/* dispo-menu */

.dispo-menu{
    width: 500px;
    height: 750px;
}


/* footer */

footer {
    background-color: #569c87;
    display: flex;
    justify-content: space-between;
}

.legacy-mention {
    color: #fcca46;
    margin-left: 20px;
    font-family: 'Spartan';
}

.contact-us {
    color: #fcca46;
    margin-right: 20px;
    font-family: 'Spartan';
}