.prochainement{
    display: flex;
    justify-content: center;
    @include desktop-only{
        margin-bottom: 100px;
    }
    & .prochainement_btn{
        display: flex;
        color: $colour-secondary;
        font-size: 1.25rem;
        background-color: #569c87;
        border-radius: 10px;
        padding: 15px 30px;
        text-decoration: none;
        font-family: 'Spartan';
        @include mobile-only{
            font-size: 1rem;
            padding: 10px 20px;
        }
        & .three_point{
            display: flex;
            margin-left: 5px;
            @include mobile-only{
                margin-left: 2px;
            }
            & .little_point{
                position: relative;
                top: 7px;
                margin-left: 5px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fcca46;
                @include mobile-only{
                    top:5px;
                    width:4px;
                    height:4px;
                }
            }
            & .first{
                animation: bounce_first 0.9s infinite;
            }
            & .second{
                animation: bounce_second 0.9s infinite;
            }
            & .third{
                animation: bounce_third 0.9s infinite;
            }
        }
    }
}

.footer_btn{
    color: #fcca46;
    text-decoration: none;
    font-family: 'Spartan';
    padding: 20px;
    &:hover{
        animation: wiggle 1.5s infinite;
    }
}