.prochainement{
    display: flex;
    justify-content: center;
    & .prochainement_btn{
        display: flex;
        color: #fcca46;
        font-size: 1.25rem;
        background-color: #569c87;
        border-radius: 10px;
        padding: 15px 30px;
        text-decoration: none;
        font-family: 'Spartan';
        & .three_point{
            display: flex;
            margin-left: 5px;
            & .little_point{
                position: relative;
                top: 7px;
                margin-left: 5px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fcca46;
            }
            & .first{
                animation: bounce_first 0.9s infinite;
            }
            & .second{
                animation: bounce_second 0.9s infinite;
            }
            & .third{
                animation: bounce_third 0.9s infinite;
            }
        }
    }
}

.footer_btn{
    color: #fcca46;
    text-decoration: none;
    font-family: 'Spartan';
    padding: 20px;
    &:hover{
        animation: wiggle 1.5s infinite;
    }
}