.blue_theme{
    background:$color-back-blue;
    .title{
        background: linear-gradient(to right,$color-titleft-blue,$color-titright-blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Dancing Script' ;
    }
    .subtitle{
        text-transform: none;
        font-family: 'Kalam', cursive;
        color: $color-titright-blue;
    }
    .part_title{
        font-family: 'Kalam', cursive;
    }

    .starter h4:hover:after{
        background: $color-under-blue;
    }

    .dish h4:hover:after{
        background: $color-under-lightblue;
    }

    .dessert h4:hover:after{
        background: $color-under-extralightblue;
    }

    li{
        font-family: 'Kalam', cursive;
    }
}