.green_theme{
    background: $color-back-green;
    .title{
        background: linear-gradient(to right,$color-titleft-green,$color-titright-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Kaushan Script';
    }
    .subtitle{
        text-transform: none;
        font-family: 'Kalam', cursive;
        color: $color-subtitle-green;
    }
    .part_title{
        font-family: 'Kalam', cursive;
        h4:hover:after{
            background: $color-under-green;
        }
    }
    li{
        font-family: 'Kalam', cursive;
    }
}