.orablue_theme{
    background: $color-back-orablue;
    .title{
        background: linear-gradient(to right, $color-titleft-orablue, $color-titright-orablue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Redressed';
    }
    .subtitle{
        text-transform: none;
        color:$color-orange-orablue;
    }
    .starter{
        color: $color-orange-orablue;
        h4:hover:after {
            background: $color-orange-orablue;
        }
    }
    .dish{
        color: $color-violet-orablue;
        h4:hover:after {
            background: $color-violet-orablue;
        }
    }
    .dessert{
        color: $color-purple-orablue;
        h4:hover:after {
            background: $color-purple-orablue;
        }
    }
}