$color-primary-principaltheme: #569c87;
$color-secondary-principaltheme: #fcca46;
$black: #000;

$color-back-pink: #fcdfda;
$color-icoleft-pink:#f15861;
$color-icoright-pink:#f6a183;

$color-back-orablue: #fef5fb;
$color-titleft-orablue: #dc8527;
$color-titright-orablue: #8f5aff;
$color-orange-orablue: #c67412;
$color-violet-orablue: #a56799;
$color-purple-orablue: #6e4ccc;

$color-back-blue:#edefef;
$color-titleft-blue: #0235e1;
$color-titright-blue: #0889fb;
$color-under-blue: #0228dd;
$color-under-lightblue: #0670f3;
$color-under-extralightblue: #229df9;

$color-back-green:#fdfffd;
$color-titleft-green:#4ea043;
$color-titright-green:#beff7f;
$color-subtitle-green:#72bf56;
$color-under-green:#6fbc54;


