$colour-primary: #569c87;
$colour-secondary: #fcca46;

$colour-back-pink: #fcdfda;
$colour-black: #000;

$colour-back-orablue: #fef5fd;


$colour-back-blue: rgb(237,239,239);


$colour-back-green: #fdfffd;
